# VS Code files
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
*.code-workspace
.DS_Store

# Jupyter checkpoints
.ipynb_checkpoints
*checkpoint.*

# pickles
*.pkl
*.pickle

# python
*.pyc

# datasets
/datasets

# coverage
.coverage

